<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dealership.name %>
</p>

<%= link_to 'Edit', edit_admin_dealership_path(@dealership) %> |
<%= link_to 'Back', admin_dealerships_path %>
